@page "/examples"
<h3>RenderingExamples</h3>


<h1>GroupBox</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.test_groupbox" Presentation="Control"></RenderableContentControl>
<h1>Border</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.test_border" Presentation="Control"></RenderableContentControl>

<h1>Stack</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_stack" Presentation="Control" ></RenderableContentControl>
<h1>Wrap</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_wrap" Presentation="Control"></RenderableContentControl>
<h1>UniformGrid</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_uniform" Presentation="Control"></RenderableContentControl>
<h1>Tab</h1>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_tabs" Presentation="Control"></RenderableContentControl>



@code {

}
