@page "/examples"
<h1>RenderingExamples</h1>

<h2>Custom views from external libraries</h2>
<RenderableContentControl Context="@Entry.Plc.test_example.ixcomponent_instance"/>
<RenderableContentControl Context="@Entry.Plc.test_example.ixcomponent_instance2"/>
<RenderableContentControl Context="@Entry.Plc.test_example.ixcomponent_instance3" />
<RenderableContentControl 
    Presentation="Service" 
    Context="@Entry.Plc.test_example.ixcomponent_instance" />
<div class="container">
    <div class="row">
        <div class="col">
            <RenderableContentControl Presentation="Control"
                                      Context="@Entry.Plc.test_example.ixcomponent_instance"/>
        </div>
        <div class="col">
           @* <RenderableContentControl Presentation="Control"
                                      Context="@Entry.Plc.test_example.refIxComponent"/>*@
        </div>
    </div>
</div>
<h2>Grouplayouts</h2>
<h3>GroupBox</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.test_groupbox" Presentation="Control"></RenderableContentControl>
<h3>Border</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.test_border" Presentation="Control"></RenderableContentControl>

<h2>Layouts</h2>
<h3>Stack</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_stack" Presentation="Control" ></RenderableContentControl>
<h3>Wrap</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_wrap" Presentation="Control"></RenderableContentControl>
<h3>UniformGrid</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_uniform" Presentation="Control"></RenderableContentControl>
<h3>Tab</h3>
<RenderableContentControl Context="@Entry.Plc.test_example.primitives_tabs" Presentation="Control"></RenderableContentControl>

<RenderableContentControl Context="Entry.Plc.ixcomponent"></RenderableContentControl>

