@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@(ComponentId)" >@Onliner.AttributeName</label>
    <input id="@(ComponentId)" 
            class="w-100 form-control @AccessStatus"
            style=@(IsReadOnly? "" : "background-color:transparent")
            type="text"
            value="@Onliner.Cyclic"
            readonly="readonly">
      

</TemplateView>