@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<T>
@typeparam T

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="readonly"
           class="w-100 form-control @AccessStatus"
           style="@(IsReadOnly? "" : "background-color:transparent")"
           type="text"
           step="any"
           value="@Onliner.Cyclic"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-custom-class="custom-tooltip"
           data-bs-title="@ToolTipText">
</TemplateView>