@inherits TemplateBase<DateOnly>

<div class="w-100 form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label for="@ComponentId">@Onliner.AttributeName</label>
    </div>
    <div class="w-100">
        <input id="@ComponentId"
               readonly="@IsReadOnly"
               class="w-100 form-control @AccessStatus"
               type="date"
               @bind="@Onliner.Cyclic" />
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>