@namespace Ix.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<bool>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId" >@Onliner.AttributeName</label>
    <div class="form-check form-switch">
        <input id="@ComponentId"
               disabled="@IsReadOnly"
               class="form-check-input @AccessStatus"
               type="checkbox"
               @bind="Value">
     
    </div>
</TemplateView>