@inherits RenderableComponentBase

<div class="w-100 form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label for="@(Onliner.AttributeName + "_" + id)">@Onliner.AttributeName</label>
    </div>
    <div class="w-100">
        <input id="@(Onliner.AttributeName + "_" + id)" 
               class="w-100 form-control @(Onliner.AccessStatus.Failure ? "is-invalid" : "")"
               type="time"
               step="1"
               name="onlineTime"
               value="@Onliner.Cyclic"
               @onchange="ValueChanged">
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>