@namespace AXSharp.Presentation.Blazor.Controls.Templates
@using System.Globalization;
@inherits TemplateBaseShadow<DateOnly>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="@IsReadOnly"
           class="w-100 form-control @AccessStatus"
           type="date"
           value="@Onliner.Shadow.ToString("yyyy-MM-dd")"
           @onfocusout="FocusOut"
           @onchange="Change"
           @key="Key">
</TemplateView>

@code
{
    private DateOnly InputValue { get; set; }
    private int Key = 0;

    private void FocusOut(FocusEventArgs args)
    {
        if (InputValue != new DateOnly())
            Onliner.Shadow = InputValue;
        InputValue = new DateOnly();

        Key++;
    }

    private void Change(ChangeEventArgs args)
    {
        if (DateOnly.TryParse(args.Value.ToString(), CultureInfo.InvariantCulture, DateTimeStyles.None, out var parseValue))
            InputValue = parseValue;
    }
}