@namespace AXSharp.Presentation.Blazor.Controls.Templates
@using System.Globalization;
@inherits TemplateBaseShadow<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="@IsReadOnly"
           class="w-100 form-control @AccessStatus"
           type="text"
           value="@Onliner.Shadow.ToString(Onliner.AttributeFormatString ?? "c", CultureInfo.InvariantCulture)"
           @onchange="Change"
           @key="Key"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-custom-class="custom-tooltip"
           data-bs-title="@ToolTipText">
</TemplateView>

@code
{
    private int Key = 0;

    private void Change(ChangeEventArgs args)
    {
        if (TimeSpan.TryParseExact(args.Value.ToString(), Onliner.AttributeFormatString ?? "c", CultureInfo.InvariantCulture, out var parseValue))
            Onliner.Shadow = parseValue;

        Key++;
    }
}