@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseShadow<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
        <label for="@ComponentId" 
            >@Onliner.AttributeName</label>
        <input id="@ComponentId"
               class="w-100 form-control @AccessStatus"
               style=@(IsReadOnly? "" : "background-color:transparent")
               type="text"
               value="@Onliner.Shadow"
               readonly="readonly">
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
</TemplateView>