@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseShadow<bool>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <div class="form-check form-switch">
        <input id="@ComponentId"
               disabled
               class="form-check-input @AccessStatus"
               type="checkbox"
               @bind="Onliner.Shadow">
    </div>
</TemplateView>