@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseShadow<DateTime>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId" >@Onliner.AttributeName</label>
    <input id="@ComponentId" 
            class="w-100 form-control @AccessStatus"
            style=@(IsReadOnly? "" : "background-color:transparent")
            readonly="readonly"
            type="datetime"
            value=@Onliner.Shadow />

</TemplateView>