@namespace AXSharp.Presentation.Blazor.Controls.Templates
@using System.Globalization;
@inherits TemplateBaseShadow<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="readonly"
           class="w-100 form-control @AccessStatus"
           style=@(IsReadOnly? "" : "background-color:transparent")
           type="text"
           value="@Onliner.Shadow.ToString(Onliner.AttributeFormatString ?? "c", CultureInfo.InvariantCulture)">
</TemplateView>