@inherits TemplateBaseShadow<bool>

<div class="form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label for="@ComponentId">@Onliner.AttributeName</label>
    </div>
    <div class="form-check form-switch">
        <input id="@ComponentId"
               class="form-check-input @AccessStatus"
               type="checkbox"
               @bind="Onliner.Shadow"
               disabled>
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>