@typeparam T
@inherits TemplateBaseShadow<T>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
        <label for="@ComponentId" >@Onliner.AttributeName</label>
        <input id="@ComponentId"
               class="w-100 form-control @AccessStatus"
               style=@(IsReadOnly? "" : "background-color:transparent")
               readonly="readonly"
               type="text"
               step=any
               value=@Onliner.Shadow />
</TemplateView>