@page "/pollings/polling"
@using ix_integration_plc
@using Ix.Connector;




<PageTitle>Polling</PageTitle>
<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <RenderableContentControl Context="@Entry.Plc.weather_wrapped" Presentation="Display" PollingInterval="500"/>
    <RenderableContentControl Context="@Entry.Plc.weather_stacked" Presentation="Display" PollingInterval="100" />
    <RenderableContentControl Context="@Entry.Plc.weather_tabbed" Presentation="Display" PollingInterval="50" />
</div>



<RenderableContentControl Context="@Entry.Plc.measurements" Presentation="Display" PollingInterval="1000"/>
<RenderableContentControl Context="@Entry.Plc.measurements.measurement_wrap" Presentation="Display" PollingInterval="250" />
<RenderableContentControl Context="@Entry.Plc.measurements.measurement_stack" Presentation="Display" PollingInterval="100" />


@code
{
    

    protected override async Task OnInitializedAsync()
    {
        Entry.Plc.Connector.SubscriptionMode = ReadSubscriptionMode.Polling;
    }

    


}
