@inherits TemplateBaseOnline<DateTime>

<div class="w-100 form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label for="@(ComponentId)" class="form-label">@Onliner.AttributeName</label>
    </div>
    <div>
        <input id="@(ComponentId)" 
               class="w-100 form-control @AccessStatus"
               style=@(IsReadOnly? "" : "background-color:transparent")
               readonly="readonly"
               type="datetime"
               value=@Onliner.Cyclic />
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>