@inherits RenderableComponentBase
@typeparam T

<div class="w-100 form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label>@Onliner.AttributeName</label>
    </div>
    <div>
        <select class="w-100 form-select @(Onliner.AccessStatus.Failure ? "is-invalid" : "")"
                @bind="@Onliner.Shadow">
            @foreach (var name in Names)
            {
                <option class="form-control" value=@EnumToIntConverter.ConvertBack(name,null,null,null)>@name</option>
            }
        </select>
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>