@typeparam T
@inherits EnumeratorsBaseShadow<T>

<div class="w-100 form-group @OnlinerSymbol">
    <div>
        <label for="@ComponentId" >@Onliner.AttributeName</label>
    </div>
    <div>
        <select id="@ComponentId"
                class="w-100 form-select @AccessStatus"
                @bind="@Onliner.Shadow"
                disabled="@IsReadOnly">
            @foreach (var name in Names)
            {
                <option class="form-control" value=@EnumToIntConverter.ConvertBack(name,null,null,null)>@name</option>
            }
        </select>
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>