@namespace Ix.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseShadow<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
 
    <label for="@ComponentId" >@Onliner.AttributeName</label>
    <input id="@ComponentId"
            readonly="@IsReadOnly"
            class="w-100 form-control @AccessStatus"
            type="time"
            step="1"
            name="onlineTime"
            value="@Onliner.Shadow"
            @onchange="ValueChanged">
    
</TemplateView>
@code
{
    private void ValueChanged(ChangeEventArgs args)
    {
        try
        {
            Onliner.Shadow = TimeSpan.Parse(args.Value.ToString());
        }
        catch
        {
            //do nothing
        }

    }
}