@inherits TemplateBaseShadow<TimeSpan>

<div class="w-100 form-group @CssSymbol(Onliner.Symbol)">
    <div>
        <label for="@ComponentId" class="form-label">@Onliner.AttributeName</label>
    </div>
    <div class="w-100">
        <input id="@ComponentId"
               readonly="@IsReadOnly"
               class="w-100 form-control @AccessStatus"
               type="time"
               step="1"
               name="onlineTime"
               value="@Onliner.Shadow"
               @onchange="ValueChanged">
        <div class="invalid-feedback">
            @Onliner.AccessStatus.FailureReason
        </div>
    </div>
</div>

@code
{
    private void ValueChanged(ChangeEventArgs args)
    {
        try
        {
            Onliner.Shadow = TimeSpan.Parse(args.Value.ToString());
        }
        catch
        {
            //do nothing
        }

    }
}