@namespace Ix.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseShadow<DateTime>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
   
    <label for="@ComponentId" >@Onliner.AttributeName</label>
    <input id="@ComponentId"
            readonly="@IsReadOnly"
            class="w-100 form-control @AccessStatus"
            type="datetime-local"
            step=1
            name="onlineDateTime"
            @bind="Onliner.Shadow">
      
</TemplateView>