@page "/components"

<PageTitle>Components</PageTitle>

<div class="col p-2 m-1 bg-light rounded-3 shadow">
    <h2 class="text-secondary">Component</h2>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Details" ? "active" : "")" @onclick=@(() => Activate("Details"))>Details</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Tasks" ? "active" : "")" @onclick=@(() => Activate("Tasks"))>Tasks</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Settings" ? "active" : "")" @onclick=@(() => Activate("Settings"))>Settings</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Diagnostics" ? "active" : "")" @onclick=@(() => Activate("Diagnostics"))>Diagnostics</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Help" ? "active" : "")" @onclick=@(() => Activate("Help"))>Help</button>
        </li>
    </ul>
    @if (Active == "Details")
    {
        <div>
            <svg>
                <path d="M 40 50 L 150 50 L 150 70 L 230 70 L 230 50 L 240 50 L 240 110 L 230 110 L 230 90 L 150 90 L 150 110 L 40 110 L 40 50" />
            </svg>

            <div class="w-100 form-group">
                <label for="x" class="form-label">X</label>
                <input id="x"
                   class="w-100 form-control"
                   type=number
                   step=any
                   value="10.5" />
            </div>
            <div class="w-100 form-group">
                <label for="y" class="form-label">Y</label>
                <input id="y"
                   class="w-100 form-control"
                   type=number
                   step=any
                   value="0.8" />
            </div>
            <div class="w-100 form-group">
                <label for="z" class="form-label">Z</label>
                <input id="z"
                   class="w-100 form-control"
                   type=number
                   step=any
                   value="110.5" />
            </div>
        </div>
    }
    @if (Active == "Tasks")
    {
        <p>Tasks</p>
        <div class="row justify-content-center">
            <div class="col-3 row px-4">
                <button type="button" class="btn btn-primary">In</button>
            </div>
            <div class="col-3 row px-4">
                <button type="button" class="btn btn-primary">Center</button>
            </div>
            <div class="col-3 row px-4">
                <button type="button" class="btn btn-primary">Out</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-danger col-4">Stop</button>
        </div>
    }
    @if (Active == "Settings")
    {
        <div>
            <div class="w-100 form-group">
                <div>
                    <label for="speed" class="form-label">Speed</label>
                </div>
                <div>
                    <input id="speed"
                       class="w-100 form-control"
                       type=text
                       step=any
                       value="10.5" />
                </div>
            </div>
            <div class="w-100 form-group">
                <div>
                    <label for="max" class="form-label">Max</label>
                </div>
                <div>
                    <input id="max"
                       class="w-100 form-control"
                       type=number
                       step=any
                       value="100" />
                </div>
            </div>
            <div class="w-100 form-group">
                <div>
                    <label for="min" class="form-label">Min</label>
                </div>
                <div>
                    <input id="min"
                       class="w-100 form-control"
                       type=number
                       step=any
                       value="0" />
                </div>
            </div>
            <div>
                <label for="automatic">Automatic</label>
            </div>
            <div class="form-check form-switch">
                <input id="automatic"
                   class="form-check-input"
                   type="checkbox">
            </div>
        </div>
    }
    @if (Active == "Diagnostics")
    {
        <div>
            <p>Diagnostics</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    }
</div>

<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">Component</h5>
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Details" ? "active" : "")" @onclick=@(() => Activate("Details"))>Details</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Tasks" ? "active" : "")" @onclick=@(() => Activate("Tasks"))>Tasks</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Settings" ? "active" : "")" @onclick=@(() => Activate("Settings"))>Settings</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Diagnostics" ? "active" : "")" @onclick=@(() => Activate("Diagnostics"))>Diagnostics</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Help" ? "active" : "")" @onclick=@(() => Activate("Help"))>Help</button>
            </li>
        </ul>
        @if (Active == "Details")
        {
            <div>
                <svg>
                    <path d="M 40 50 L 150 50 L 150 70 L 230 70 L 230 50 L 240 50 L 240 110 L 230 110 L 230 90 L 150 90 L 150 110 L 40 110 L 40 50" />
                </svg>

                <div class="w-100 form-group">
                    <label for="x" class="form-label">X</label>
                    <input id="x"
                       class="w-100 form-control"
                       type=number
                       step=any
                       value="10.5" />
                </div>
                <div class="w-100 form-group">
                    <label for="y" class="form-label">Y</label>
                    <input id="y"
                       class="w-100 form-control"
                       type=number
                       step=any
                       value="0.8" />
                </div>
                <div class="w-100 form-group">
                    <label for="z" class="form-label">Z</label>
                    <input id="z"
                       class="w-100 form-control"
                       type=number
                       step=any
                       value="110.5" />
                </div>
            </div>
        }
        @if (Active == "Tasks")
        {
            <p>Tasks</p>
            <div class="row justify-content-center">
                <div class="col-3 row px-4">
                    <button type="button" class="btn btn-primary">In</button>
                </div>
                <div class="col-3 row px-4">
                    <button type="button" class="btn btn-primary">Center</button>
                </div>
                <div class="col-3 row px-4">
                    <button type="button" class="btn btn-primary">Out</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-danger col-4">Stop</button>
            </div>
        }
        @if (Active == "Settings")
        {
            <div>
                <div class="w-100 form-group">
                    <div>
                        <label for="speed" class="form-label">Speed</label>
                    </div>
                    <div>
                        <input id="speed"
                           class="w-100 form-control"
                           type=text
                           step=any
                           value="10.5" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="max" class="form-label">Max</label>
                    </div>
                    <div>
                        <input id="max"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="100" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="min" class="form-label">Min</label>
                    </div>
                    <div>
                        <input id="min"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="0" />
                    </div>
                </div>
                <div>
                    <label for="automatic">Automatic</label>
                </div>
                <div class="form-check form-switch">
                    <input id="automatic"
                       class="form-check-input"
                       type="checkbox">
                </div>
            </div>
        }
        @if (Active == "Diagnostics")
        {
            <div>
                <p class="card-text">Diagnostics</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        }
    </div>
</div>


@code {
    public string Active { get; set; } = "Details";

    void Activate(string tab)
    {
        Active = tab;
    }
}