@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="col p-2 m-1 bg-light rounded-3 shadow">
    <h2 class="text-secondary">Component</h2>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Details" ? "active" : "")" @onclick=@(() => Activate("Details"))>Details</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Tasks" ? "active" : "")" @onclick=@(() => Activate("Tasks"))>Tasks</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Settings" ? "active" : "")" @onclick=@(() => Activate("Settings"))>Settings</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Diagnostics" ? "active" : "")" @onclick=@(() => Activate("Diagnostics"))>Diagnostics</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link @(Active == "Help" ? "active" : "")" @onclick=@(() => Activate("Help"))>Help</button>
        </li>
    </ul>
    @if (Active == "Details")
    {
        <div>
            <p>Details</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    }
    @if (Active == "Tasks")
    {
        <div>
            <p>Tasks</p>
            <a href="#" class="btn btn-primary">Task1</a>
            <a href="#" class="btn btn-primary">Task2</a>
            <a href="#" class="btn btn-primary">Task3</a>
        </div>
    }
    @if (Active == "Settings")
        {
            <div>
                <div class="w-100 form-group">
                    <div>
                        <label for="speed" class="form-label">Speed</label>
                    </div>
                    <div>
                        <input id="speed"
                           class="w-100 form-control"
                           type=text
                           step=any
                           value="10.5" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="max" class="form-label">Max</label>
                    </div>
                    <div>
                        <input id="max"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="100" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="min" class="form-label">Min</label>
                    </div>
                    <div>
                        <input id="min"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="0" />
                    </div>
                </div>
                <div>
                    <label for="automatic">Automatic</label>
                </div>
                <div class="form-check form-switch">
                    <input id="automatic"
                       class="form-check-input"
                       type="checkbox">
                </div>
            </div>
        }
    @if (Active == "Diagnostics")
    {
        <div>
            <p>Diagnostics</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    }
</div>

<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">Component</h5>
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Details" ? "active" : "")" @onclick=@(() => Activate("Details"))>Details</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Tasks" ? "active" : "")" @onclick=@(() => Activate("Tasks"))>Tasks</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Settings" ? "active" : "")" @onclick=@(() => Activate("Settings"))>Settings</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Diagnostics" ? "active" : "")" @onclick=@(() => Activate("Diagnostics"))>Diagnostics</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link @(Active == "Help" ? "active" : "")" @onclick=@(() => Activate("Help"))>Help</button>
            </li>
        </ul>
        @if (Active == "Details")
        {
            <div>
                <p class="card-text">Details</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        }
        @if (Active == "Tasks")
        {
            <div>
                <p class="card-text">Tasks</p>
                <a href="#" class="btn btn-primary">Task1</a>
                <a href="#" class="btn btn-primary">Task2</a>
                <a href="#" class="btn btn-primary">Task3</a>
            </div>
        }
        @if (Active == "Settings")
        {
            <div>
                <div class="w-100 form-group">
                    <div>
                        <label for="speed" class="form-label">Speed</label>
                    </div>
                    <div>
                        <input id="speed"
                           class="w-100 form-control"
                           type=text
                           step=any
                           value="10.5" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="max" class="form-label">Max</label>
                    </div>
                    <div>
                        <input id="max"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="100" />
                    </div>
                </div>
                <div class="w-100 form-group">
                    <div>
                        <label for="min" class="form-label">Min</label>
                    </div>
                    <div>
                        <input id="min"
                           class="w-100 form-control"
                           type=number
                           step=any
                           value="0" />
                    </div>
                </div>
                <div>
                    <label for="automatic">Automatic</label>
                </div>
                <div class="form-check form-switch">
                    <input id="automatic"
                       class="form-check-input"
                       type="checkbox">
                </div>
            </div>
        }
        @if (Active == "Diagnostics")
        {
            <div>
                <p class="card-text">Diagnostics</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        }
    </div>
</div>


@code {
    public string Active { get; set; } = "Details";

    void Activate(string tab)
    {
        Active = tab;
    }
}