@namespace Ix.Presentation.Blazor.Controls.Templates
@typeparam T
@inherits EnumeratorsBaseOnline<T>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
        <label for="@ComponentId" >@Onliner.AttributeName</label>


        <input id="@ComponentId"
               class="w-100 form-control @AccessStatus"
               readonly="readonly"
               style=@(IsReadOnly ? "" : "background-color:transparent")
               value="@EnumToIntConverter.Convert(@Onliner.Cyclic,null,null,null)  " />
</TemplateView>