@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<DateOnly>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="@IsReadOnly"
           class="w-100 form-control @AccessStatus"
           type="date"
           @bind="Value">
</TemplateView>