@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="@IsReadOnly"
           class="w-100 form-control @AccessStatus"
           type="time"
           value="@Onliner.Cyclic"
           @onchange="ValueChanged">
</TemplateView>

@code
{
    private void ValueChanged(ChangeEventArgs args)
    {
        try
        {
            Onliner.Edit = TimeSpan.Parse(args.Value.ToString());
        }
        catch
        {
            //do nothing
        }
    }
}