@namespace AXSharp.Presentation.Blazor.Controls.Templates
@inherits TemplateBaseOnline<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">

    <label for="@ComponentId" >@Onliner.AttributeName</label>
    <input id="@ComponentId"
            readonly="@IsReadOnly"
            class="w-100 form-control @AccessStatus"
            type="time"
            step="1"
            name="onlineTime"
            value="@Onliner.Cyclic"
            @onchange="ValueChanged">

</TemplateView>
@code
{
    private void ValueChanged(ChangeEventArgs args)
    {
        try
        {
            var parsedTimeSpan = TimeSpan.Parse(args.Value.ToString());
            Onliner.Edit = parsedTimeSpan;

        }
        catch
        {
            //do nothing
        }

    }
}