@namespace AXSharp.Presentation.Blazor.Controls.Templates
@using System.Globalization;
@inherits TemplateBaseOnline<TimeSpan>

<TemplateView Symbol="@OnlinerSymbol" FailureReason="@Onliner.AccessStatus.FailureReason">
    <label for="@ComponentId">@Onliner.AttributeName</label>
    <input id="@ComponentId"
           readonly="@IsReadOnly"
           class="w-100 form-control @AccessStatus"
           type="time"
           step="1"
           value="@Value.ToString(@"hh\:mm\:ss", CultureInfo.InvariantCulture)"
           @onfocus="@(() => { HasFocus = true; LastValue = Onliner.LastValue; })"
           @onblur="@(() => HasFocus = false)"
           @onfocusout="FocusOut"
           @onchange="Change"
           @key="Key">
</TemplateView>

@code
{
    private TimeSpan InputValue { get; set; }
    private int Key = 0;

    private void FocusOut(FocusEventArgs args)
    {
        if (InputValue != new TimeSpan())
            Value = InputValue;
        InputValue = new TimeSpan();

        Key++;
    }

    private void Change(ChangeEventArgs args)
    {
        if (TimeSpan.TryParse(args.Value.ToString(), CultureInfo.InvariantCulture, out var parseValue))
            InputValue = parseValue;
    }
}